DATABASE_URL="postgres://user:password@host:port/db-name"
PUBLIC_UMAMI_TRACKING_ID="2426cc41-8cce-415e-b6f0-6ad6ff0210da"
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""

BASE_URL="http://localhost:5173"
